<% url = admins_auth_password_changes_path %>
<%= form_with model: @admin, url: url, local: true do |f| %>
  <%= render 'admins/layouts/errors', model: @admin %>

  <div class="form-group">
    <%= f.label :password_now, '現在のパスワード' %>
    <%= f.password_field :password_now, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password, '新しいパスワード' %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, '新しいパスワード(確認)' %>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>

  <div class="actions text-right">
    <% if @admin.new_record? %>
      <%= f.submit '登録する', class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit '編集する', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
