<%= form_with model: @user, url: users_auth_password_resets_path, local: true do |f| %>
  <%= render 'layouts/errors', model: @user %>
  <div class="p-signup">
    <div class="p-signup__inner">
      <h2 class="p-signup__title"></h2>

      <div class="p-signup__form-group">
        <%= f.label :email, 'メールアドレス' %>
        <div class="input-group mb-3">
          <%= f.email_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="c-user_auth_card__btn">
        <%= f.submit 'パスワードをリセットする', class: 'c-btn c-btn--orange' %>
      </div>

      <div class="p-signup__footer">
        <small>サービス名</small>
      </div>
      
    </div>
  </div>
<% end %>
